# SQLite
Sqlite can be integrated with python using sqlite3 module. It produces an SQL interface complient with the DB-API 20 specifications described by PEP 249. 

## Steps:
- Create a Connection object
- Optionally create a cursor object which will help you in executing all the SQL Commands

In [1]:
import sqlite3
try:
    conn = sqlite3.connect('test.db')
except:
    print('No database exists')
else:
    print('Opened Database Successfully')

Opened Database Successfully

# Creating Tables

In [22]:
import sqlite3
try:
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    query = "Create table Company (ID int primary key not null, Name varchar(50) not null)"
    cur.execute(query)
    cur.execute("insert into Company values (?, ?)", (1,"Lokendra"))
except Exception as e:
    print(e)
else:
    print('Table Created Successfully')
finally:
    conn.commit()
    conn.close()

Table Created Successfully

## executemany(command:str, iterator)

In [23]:
import sqlite3
try:
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    values = [(2,'Natasha'),(3,'Kanishka'),(4,'Saloni')]
    cur.executemany("insert into Company values (?, ?)", iter(values))
except Exception as e:
    print(e)
else:
    print('Success.')
finally:
    conn.commit()
    conn.close()

Table Created Successfully

## Fetching Rows

In [24]:
try:
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    query = "Select * from Company"
    cur.execute(query)
    print(cur.fetchall())
except Exception as e:
    print(e)
else:
    print('Success.')
finally:
    conn.close()

[(1, 'Lokendra'), (2, 'Natasha'), (3, 'Kanishka'), (4, 'Saloni')]
Table Created Successfully